<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>IOT</title>
</head>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" />
<script th:src="@{/webjars/jquery/3.0.0/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
<body>
    <div class="text-center">
        <p>向<span th:text="${device.ip}+':'+${device.port}"/>发送消息</p>
        <div class="custom-control custom-switch" id="s1">
            <input type="checkbox" th:checked="${device.switch1}" class="custom-control-input" id="switch1">
            <label class="custom-control-label" for="switch1">开关1</label>
        </div>
        <div class="custom-control custom-switch" id="s2">
            <input type="checkbox" th:checked="${device.switch2}" class="custom-control-input" id="switch2">
            <label class="custom-control-label" for="switch2">开关2</label>
        </div>
        <div class="custom-control custom-switch" id="s3">
            <input type="checkbox" th:checked="${device.switch3}" class="custom-control-input" id="switch3">
            <label class="custom-control-label" for="switch3">开关3</label>
        </div>
        <p></p>
        <div>
    		<span>温度：</span><span th:text="${device.num1}"></span><br/>
    		<span>湿度：</span><span th:text="${device.num2}"></span><br/>
    		<span>光敏电阻值：</span><span th:text="${device.num3}"></span><br/>
   		</div>
    </div>
    
    <script type="text/javascript">
    $('.custom-control-input').click(function(){
    	$.ajax({
    		type:"get",
    		url:"/switch",
    		data:{switches:$(this).attr("id"),
    			  on:$(this).prop("checked")}
    	});
    }); 
    </script>
</body>
</html>