<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>IOT</title>
</head>
<body>
    <!-- 属性替换，其他属性同理 -->
    <h1>数据报表</h1>
        <table>
        <thead>
            <tr>
                <th>id</th>
                <th>switch1</th>
                <th>switch2</th>
                <th>switch3</th>
                <th>t</th>
                <th>h</th>
                <th>l</th>
                <th>ip</th>
                <th>port</th>
                <th>createtime</th>
            </tr>
        </thead>
        <tbody>
           <tr th:each="device : ${deviceList}">
                <td th:text="${device.id}"></td>
                <td th:text="${device.switch1}"></td>
                <td th:text="${device.switch2}"></td>
                <td th:text="${device.switch3}"></td>
                <td th:text="${device.num1}"></td>
                <td th:text="${device.num2}"></td>
                <td th:text="${device.num3}"></td>
                <td th:text="${device.ip}"></td>
                <td th:text="${device.port}"></td>
                <td th:text="${device.createtime}"></td>
            </tr>
        </tbody>
    </table>
</body>
<!-- 引入静态资源 -->
<script th:src="@{/js/jquery-1.9.1.min.js}" type="application/javascript"></script>
</html>