<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>IOT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 引入 echarts.js -->
    <script src="../../../../echarts.js"></script>
    <!-- src="${pageContext.request.contextPath}/echarts.js -->
</head>
<body>
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="width: 600px;height:400px;"></div>
    <script th:inline="javascript" type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
		
        var deviceList = [[${deviceList}]];
        
        var arr1 = new Array();
        for(var i=0;i<deviceList.length;i++){
        	arr1.push(deviceList[i].createtime)
        }
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '温度折线图'
            },
            
            xAxis: {
                type: 'category',
                data: [[[${time}]]] },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [<c:forEach items="${deviceList}" var="device">["${device.num1}"],</c:forEach>]],
                type: 'line'
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</body>
</html>